/* Colors (gruvbox) */
@import "../colors/mocha.css";

* {
	border: none;
	border-radius: 10px;
  font-family: "JetbrainsMono Nerd Font" ;
	font-size: 15px;
	min-height: 10px;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

window#waybar {
	background: transparent;
  /* animation: fadeIn 1s ease-in-out both */
}

window#waybar.hidden {
	opacity: 1;
  color: red;
  background-color: red;
}

tooltip {
  background-color: #1e1e2e;
}

tooltip label {
  background-color: #1e1e2e;
  color: #eff1f5;
}

#window {
	margin-top: 6px;
	padding-left: 10px;
  padding-right: 10px;
	border-radius: 10px;
	transition: none;
  color: transparent;
	background: transparent;
}

#mode, #cava, #temperature, #language, #custom-spotify, #tray ,#custom-keyboard, #custom-date, #custom-wallpaper, #custom-launcher, #custom-power, #custom-media, #custom-updates, #clock, #battery, #backlight, #pulseaudio, #network, #mpd, #memory, #cpu  {
  border-radius: 10px;
  margin: 10px 0px 0px 6px;
  padding-right: 10px;
  padding-left: 10px;
	transition: none;
  background: #1e1e2e;
  color: #96CDFB;
  /* border: 0.1rem solid #96CDFB */
}

#custom-launcher {
	font-size: 24px;
  padding-right: 5px;
  margin-left: 10px;
  box-shadow:inset 0px 0px 0px 2px;
  color: #f38ba8;
}

#cpu {
  border-radius: 10px 0 0 10px;
  /* color: #f9e2af; */
}

#temperature {
  border-radius: 0 10px 10px 0;
  /* color: #f9e2af; */
}

#memory {
  /* color: #a6e3a1; */
}

#custom-media {
  /* box-shadow:inset 0px 0px 0px 0.1rem; */
}

#custom-keyboard {
  /* box-shadow:inset 0px 0px 0px 0.1rem; */
	font-size: 26px;
  padding-right: 0px;
  /* color: #b4befe; */
}

#custom-wallpaper {
  /* box-shadow:inset 0px 0px 0px 0.1rem; */
  /* color: #f5c2e7; */
}

#network {
  /* color: #f9e2af; */
}

#pulseaudio {
  /* border-radius: 10px 0 0 10px; */
}

#backlight {
  /* border-radius: 0 10px 10px 0; */
}

#clock {
  /* color: #cba6f7; */
}

#battery {
  /* color: #a6e3a1; */
}

#battery.warning:not(.charging) {
    color: #f9e2af	;
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: #f38ba8;
}

@keyframes blink {
   
  to {
      background-color: #3A2E40;
    }
}

#mode {
	background: rgba(  0, 43, 54, 0.8);
	border-top: 2px rgba(238,232,213, 0.8);
  padding: 0 10px;
  margin: 0 5px;
}



/* #custom-keyboard { */
/* 	font-size: 26px; */
/*   padding-right: 0px; */
/*   color: #89DCEB; */
/*   background: #1F2132; */
/* } */
#custom-power {
  font-size: 24px;
  padding-right: 5px;
  margin-right: 10px;
  box-shadow:inset 0px 0px 0px 2px;
}

#custom-power button.focused {

  color: #c9545d;

  border-top: 2px solid #c9545d;

}

/* #network.disconnected { */
/*   padding-right: 8px; */
/* } */

#custom-updates {
	color: #1e1e2e;
	background: #E8A2AF;
}

#workspaces {
  border-radius: 10px;
  font-size: 40px;
  transition: none;
  /* background: #161320; */
  background: #1e1e2e;
  margin: 10px 0px 0px 5px;
}

#workspaces button{
  color: #96CDFB;
  background: #1e2030;
  border-radius: 10px;
  padding: 10px 15px 10px 10px;
  margin: 0px 0px 0px 0px;
  animation: fadeIn 0.2s ease-in-out both
}

#workspaces button:hover {
  background: @surface1;
  color: @text;
}

#workspaces button.focused {
  /* border: 0.1rem solid #96CDFB; */
  /* using box shadow to keep the border inside the elem */
  box-shadow:inset 0px 0px 0px 0.1rem #96CDFB;

  /* background: #1e1a2c; */
  /* color: #161320; */
  background: #1F2132;
  color: #96CDFB;
  /* color: #DDB6F2; */
}

#workspaces button.active {
  box-shadow:inset 0 0 0 0.1rem;
  color: #eba0ac;
  /* background: #181825; */
  /* color: #1e1e2e; */
}

#tags {
	margin-top: 6px;
	margin-left: 12px;
	font-size: 4px;
	margin-bottom: 0px;
	border-radius: 10px;
	background: #161320;
	transition: none;
}

#tags button {
	transition: none;
	color: #B5E8E0;
	background: transparent;
	font-size: 16px;
	border-radius: 2px;
}

#tags button.occupied {
	transition: none;
	color: #F28FAD;
	background: transparent;
	font-size: 4px;
}

#tags button.focused {
	color: #ABE9B3;
    border-top: 2px solid #ABE9B3;
    border-bottom: 2px solid #ABE9B3;
}

#tags button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #FAE3B0;
    border-color: #E8A2AF;
    color: #E8A2AF;
}

#tags button.focused:hover {
    color: #E8A2AF;
}

